<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="File" />
	</root>

	<appender name="File" type="log4net.Appender.RollingFileAppender">
		<file value="GoogleMapAutomationLogs.txt" />
		<appendToFile value="true" />

		<layout name="PatternLayout" type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{dd-MMM-yyyy-hh:mm:ss tt} [%class] [%level] [%method] - %message%newline" />
		</layout>
		<threshold value="ALL" />
		<maximumFileSize value="1MB" />
		<maxSizeRollBackups value="15" />
	</appender>
</log4net>